*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    outline: none;
}
.kux-select-btn
{
    height: 28px;
    padding-left: 10px;

    cursor: pointer;
    text-align: left;

    color: #333;
    border: #d3d3d3 solid 1px;
    border-radius: 4px;
    background: #fff;
}
.kux-select-btn::-moz-focus-inner
{
    border: 0;
}
.kux-select-btn:fucus
{
    color: #333;
}
:host.disabled > > > .kux-select-btn
{
    cursor: default;

    background-color: #f1f1f1;
}
