<header>
    <img src="/assets/images/huaji.png" alt="">
    <span>NG-KuX</span>
    <ul>
        <li routerLink="/select" routerLinkActive="active">select</li>
        <li routerLink="/scrollbar" routerLinkActive="active">scrollbar</li>
        <li routerLink="/datepicker" routerLinkActive="active">datepicker</li>
        <li routerLink="/scroll" routerLinkActive="active">scroll</li>
        <li routerLink="/pagination" routerLinkActive="active">pagination</li>
        <li routerLink="/timepicker" routerLinkActive="active">timepicker</li>
        <li routerLink="/modal" routerLinkActive="active">modal</li>
    </ul>
</header>
<content>
    <router-outlet></router-outlet>
</content>
<kux-modal></kux-modal>